body {
  font-family: Poppins;
  color: hsl(234, 12%, 34%)
}


.thin {
  font-weight: 200;
}

.bold {
  font-weight: bold;
}

.grey {
  color: hsl(229, 6%, 66%);
}

.card-cyan {
  border-top: 5px hsl(180, 62%, 55%) solid;
}

.card-red {
  border-top: 5px hsl(0, 78%, 62%) solid;
}

.card-orange {
  border-top: 5px hsl(34, 97%, 64%) solid;
}

.card-blue {
  border-top: 5px hsl(212, 86%, 64%) solid;
}

.box-shadow {
  box-shadow: 0 15px 2px -2px hsl(229, 6%, 66%, 0.3);
}

.icon {
  float: right;
}

.card-text {
  font-size: 12px;
}